@import "tailwindcss";

/* Tema Claro (Default) */
:root {
  --bg-color: #ffffff;
  --text-color: #1f2937;
  --primary-color: #B45309;
  --primary-light: #D97706;
  --primary-lightest: #FCD34D;
  --secondary-color: #CA8A04;
  --secondary-light: #F3F4F6;
  --secondary-medium: #D1D5DB;
  --secondary-dark: #374151;
  --border-color: #E5E7EB;
}

/* Tema Oscuro */
[data-theme='dark'] {
  --bg-color: #111827;
  --text-color: #ffffff;
  --primary-color: #0284C7;
  --primary-light: #06B6D4;
  --primary-lightest: #164E63;
  --secondary-color: #06B6D4;
  --secondary-light: #1F2937;
  --secondary-medium: #374151;
  --secondary-dark: #030712;
  --border-color: #374151;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
